# ---- Project ----
.state/

# ---- Python bytecode ----
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/

# 
build/
dist/
*.egg-info/
*.whl
.eggs/


.pytest_cache/
.tox/
.coverage*
htmlcov/
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/


*.log


.vscode/
.idea/
*.iml

#junk
.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
